.box{
    border: 1px solid #ccc;
    padding: 20px;
    width: 40%;
    margin: 15px auto;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}
/* button{
    padding: 10px 20px;
    background:orange;
    margin-bottom: 10px;
    columns: #000;
    cursor: pointer;
} */